.logo {
  position: absolute;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-background {
  position: absolute;
  top: -23px;
  z-index: -1;
  display: block;
  height: 135%;
}

.header {
  display: block;
  height: 10%;
}

.hero-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  margin-top: 7px;
  font-family: Amsterdam, sans-serif;
  font-size: 50px;
  line-height: 70px;
}

.text-block-2 {
  margin-top: 16px;
  font-family: BenchNine, sans-serif;
  font-size: 33px;
  line-height: 33px;
  font-weight: 700;
}

.text-block-3 {
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  color: #b6b6b6;
  font-size: 20px;
  line-height: 20px;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.button.cta-button {
  margin-top: 25px;
}

.button-text {
  position: absolute;
  font-family: BenchNine, sans-serif;
  color: #000;
  font-size: 40px;
}

.text-block-5 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  text-align: center;
}

.section-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Amsterdam, sans-serif;
}

.body {
  overflow: visible;
  height: 100%;
}

.container-2 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-6 {
  color: #7d7d7d;
  font-size: 23px;
  line-height: 30px;
}

.div-block {
  position: relative;
  left: 284px;
  top: 46px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image {
  position: relative;
  bottom: -225px;
  display: block;
}

.div-block-2 {
  max-width: 700px;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-3 {
  position: relative;
  left: -243px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-2 {
  position: static;
  width: 450px;
  max-width: 450%;
}

.image-3 {
  position: relative;
  width: 350px;
  min-width: 350px;
}

.image-4 {
  position: absolute;
  left: 56px;
  top: 110px;
}

.section-3 {
  display: block;
}

.color-title-background {
  position: static;
  font-family: BenchNine, sans-serif;
  color: rgba(126, 201, 207, .15);
  font-size: 275px;
  line-height: 265px;
  font-weight: 700;
  text-align: right;
}

.color-title-background._1 {
  margin-top: -136px;
  margin-right: -318px;
}

.color-title-background._2 {
  position: static;
  margin-top: -640px;
  margin-right: -81px;
  text-align: right;
}

.image-5 {
  position: relative;
  z-index: -1;
}

.h1 {
  font-family: BenchNine, sans-serif;
  font-size: 43px;
  text-transform: uppercase;
}

.h1.tba {
  margin-top: 108px;
  margin-bottom: 108px;
  color: #b6b6b6;
  text-align: center;
}

.paragraph-left {
  margin-top: 24px;
  padding-left: 55px;
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
  font-size: 18px;
  line-height: 30px;
}

.columns {
  margin-top: -122px;
}

.column-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image-6 {
  display: block;
  width: 900px;
}

.image-7 {
  position: relative;
  z-index: -1;
  display: block;
  width: 700px;
  margin-top: -70px;
  margin-left: -369px;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.column-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.columns-2 {
  margin-top: -308px;
  margin-bottom: 54px;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
  font-size: 17px;
  line-height: 27px;
}

.paragraph.right-margin {
  padding-right: 55px;
}

.paragraph.right-margin.top-margin {
  margin-top: 24px;
}

.paragraph.left-margin {
  padding-left: 55px;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-8 {
  width: 290px;
}

.image-9 {
  width: 300px;
}

.image-10 {
  width: 235px;
}

.role-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: BenchNine, sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.role-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-11 {
  position: relative;
  z-index: -1;
  width: 250px;
}

.image-12 {
  position: relative;
  z-index: -1;
  width: 290px;
}

.image-13 {
  position: relative;
  z-index: -1;
  width: 220px;
}

.columns-4 {
  margin-top: 25px;
}

.role-texts {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.text-block-8 {
  color: #000;
  font-style: normal;
  text-decoration: none;
}

.link-block {
  text-decoration: none;
}

.button-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-background {
  width: 116px;
  margin-top: 16px;
}

.button-background.cta {
  width: 90px;
}

.image-14 {
  position: relative;
  left: -48px;
  top: 142px;
  width: 450px;
}

.container-5 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-4 {
  position: relative;
  left: -250px;
  display: block;
}

.section-4 {
  margin-bottom: 130px;
}

.columns-5 {
  margin-top: -118px;
}

.guest-image {
  width: 200px;
  height: 200px;
  border: 1px solid #a9a9a9;
}

.guest-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.guest-cell.fade-1 {
  opacity: 0.75;
}

.guest-cell.fade-2 {
  opacity: 0.5;
}

.guest-cell.fade-3 {
  opacity: 0.25;
}

.guest-name {
  margin-top: 9px;
  font-family: BenchNine, sans-serif;
  color: #7d7d7d;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
}

.image-15 {
  position: absolute;
  width: 435px;
}

.div-block-5 {
  position: absolute;
  display: block;
}

.columns-6 {
  margin-bottom: 26px;
  padding-left: 36px;
}

.title-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.title-decor {
  position: relative;
  z-index: -1;
  width: 250px;
}

.title-decor.schedule {
  margin-top: -140px;
  margin-right: 62px;
}

.title-decor.sponsor {
  top: -79px;
  right: -26px;
}

.section-5 {
  position: relative;
  margin-bottom: 315px;
}

.section-6 {
  margin-bottom: 150px;
}

.title-middle-decor {
  position: relative;
  top: -135px;
  z-index: -1;
  width: 250px;
}

.title-middle-decor.sponsor {
  left: -33px;
  top: -138px;
}

.title-middle-decor.faq {
  left: -151px;
  top: -115px;
}

.section-7 {
  margin-bottom: 150px;
}

.section-8 {
  margin-bottom: 150px;
}

.qna-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  margin-bottom: 42px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title-question {
  margin-top: 0px;
}

.h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: 700;
}

.h2.question {
  margin-top: -3px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.role-image {
  position: absolute;
  top: 21px;
  width: 300px;
  clear: none;
}

.role-image.role-mentor {
  width: 270px;
}

.role-image.role-sponsor {
  width: 260px;
}

.image-16 {
  position: absolute;
}

.image-17 {
  position: absolute;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.section-9 {
  margin-bottom: 40px;
}

.columns-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright {
  font-family: BenchNine, sans-serif;
  color: #d3d3d3;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}

.columns-8 {
  margin-top: 55px;
}

.div-block-8 {
  position: absolute;
  right: -350px;
  bottom: -216px;
  display: block;
}

@media (max-width: 991px) {
  .div-block {
    position: relative;
    left: 193px;
  }
}

@media (max-width: 767px) {
  .div-block {
    left: 0px;
  }
}

@font-face {
  font-family: 'Amsterdam';
  src: url('../fonts/amsterdam.regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}