@font-face {
  font-family: GothamHTF-Light;
  src: url(./assets/GothamHTF/GothamHTF-Light.otf);
}
@font-face {
  font-family: GothamHTF-Book;
  src: url(./assets/GothamHTF/GothamHTF-Book.otf);
}
@font-face {
  font-family: GothamHTF-Medium;
  src: url(./assets/GothamHTF/GothamHTF-Medium.otf);
}
@font-face {
  font-family: GothamHTF-Bold;
  src: url(./assets/GothamHTF/GothamHTF-Bold.otf);
}

body {
  margin: 0 auto;
  font-family: 'GothamHTF-Light', sans-serif;
  overflow-x: hidden;
}
h1 {
  font-family: 'GothamHTF-Bold', sans-serif;
}
h2 {
  font-family: 'GothamHTF-Medium', sans-serif;
  font-size: 50px;
}
a {
  color: #F38B94;
}
.grid {
  display: flex;
}
.fullscreen {
  width: 100%;
  height: 100%;
}
.col {
  flex: 1;
}
.title-col {
  width: 450px;
}
.col-2 {
  flex: 2;
}
.center-items {
  justify-content: center;
  align-items: center;
}
.center-items-space-btwn {
  justify-content: space-around;
  align-items: center;
}
.align-self-top {
  align-self: flex-start;
}

.background-grad {
  background: -webkit-linear-gradient(#FBCDB8, #F38B94, #F38B94); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FBCDB8, #F38B94, #F38B94); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FBCDB8, #F38B94, #F38B94); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FBCDB8, #F38B94, #F38B94); /* Standard syntax */
  color: white;
}

.heading {
  font-family: 'GothamHTF-Bold', sans-serif;
}
.backslash {
  color: #F38B94;
}
/*Title Styling*/
.title-section {
  height: 100vh;
  width: 100vw;
}
.title-date {
  text-align: center;
  font-family: 'GothamHTF-Light', sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.corner-lines {
  position: absolute;
  z-index: -1;
  width: 102%;
}
.bottom-corner-lines {
  position: absolute;
  z-index: -1;
  width: 102%;
  height: 101%
}
.title-section > .corner-lines {
  height: 101%;
}

.title-logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-height: 200px;
}
.title-info {
  width: 100%;
  margin: 0 auto;
}
.sub-title {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  font-size: 17px;
}
.questions {
  text-align: center;
  font-size: 1em;
  font-family: 'GothamHTF-Medium';
}
.forward-slash {
  display: inline;
}
.social-favicons {
  width: 20px;
  margin: 0;
  padding: 0;
}
.social-box {
  margin: 0 auto;
  width: 77px;
}

.sign-up-form {
  display: block;
  margin: 0 auto;
  margin-left: 29px;

}
.sign-up-input-text {
  width: 100%;
  height: 2em;
}
.sign-up-form-button {
  display: block;
  margin: 0 auto;
  background-color: #F38B94;
  font-family: 'GothamHTF-Medium';
  font-size: 0.9em;
  border: 0;
  text-shadow: 2px 2px 5px #555;
  letter-spacing: 1px;
  padding: 0;
  cursor: pointer;
  border-radius: 2em;
  height: 2em;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}
/* OUr Mission Styling*/
.mission-grid {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 70px;
}
.mission-sub-header {
  font-family: 'GothamHTF-Book';
  font-size: 1.7em;
  letter-spacing: 1px;
  margin-top: 150px;
  margin-right: 40px;
}
.mission-text {
  font-family: 'GothamHTF-Light';
  line-height: 20px;
}
.mission-h4 {
  font-family: 'GothamHTF-Book';
}
.mission-ul {
  line-height: 20px;
}
.apply-img {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  max-width: 90%;
}
.apply-three-mid {
  margin-right: 5%;
  margin-left: 5%;
}
.join-us-section {
  width: 80vw;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
}
.join-us-subheader {
  text-align: center;
  font-size: 22px;
  font-family: 'GothamHTF-Medium';
}
.join-us-section > .corner-lines {
  height: 100%;
}
.join-us-p {
  text-align: center;
}
.schedule-section {
  height: auto;
}
.schedule-grid {
  width: 80%;
  margin: 0 auto;
}
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: rgba(0,0,0,0);
    color: white;
    font-family: 'GothamHTF-Medium';
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

ul.faq-ul {
  list-style: none;
  margin-bottom: 50px;
}
li.faq-li::before {
  content: "";
   border-color: transparent WHITE;
   border-style: solid;
   border-width: 0.35em 0 0.35em 0.45em;
   display: block;
   height: 0;
   width: 0;
   left: -1em;
   top: 1em;
   position: relative;
}
li.faq-li::before.active {
  transform: rotateX(90);
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    opacity: 1;
    transition: 0.5s;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    display: none;
    transition: 0.5s;
}
.sponsor-section {
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.sponsor-holder {
  margin: 20px;
  height: 180px;
  background-color: grey;
}
.sponsor-wantto {
  font-family: 'GothamHTF-Medium';
  font-size: 30px;
  text-align: center;
}
.sponsor-section > .sign-up-form-button {
  transform: scale(1.5);
}

.event-section > .grid {
  height: 450px;
}
.event-text {
  width: 80%;
  margin: 0 auto;
}
.event-subheader {
  font-family: 'GothamHTF-Medium';
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5px;
}
.event-underline {
  padding-bottom: 25px;
  border-bottom: 1px solid white;
}
.after-underline {
  margin-top: 25px;
  margin-bottom: 25px;
}
.event-address {
  margin: 0;
  font-family: 'GothamHTF-Light';
  font-weight: 300;
  font-size: 20px;
}
@media (max-width: 700px) {
    .grid {
      flex-direction: column;
    }
    .corner-lines {
      visibility: hidden;
    }
    .title-section {
      margin-top: 80px;
      height: auto;
    }
    .sign-up-form-button {
      margin-top: 10px;
    }
    .social-box {
      margin-bottom: 80px;
    }
    .title-col {
      width: 80%;
    }
    .title-logo {
      width: 100%;
    }
    .title-info {
      width: 100%;
    }
    .sub-title {
      font-size: 13px;
    }
    .sign-up-form {
      margin: 0 auto;
    }
    .join-us-section {
      height: auto;
      }
    .apply-three-mid {
      margin-top: 75px;
      margin-bottom: 75px;
    }
    .mission-sub-header {
      margin-top: 10px;
    }
    .event-section > .grid {
      height: auto;
    }
    .event-text {
      margin-bottom :50px;
    }
    .event-map {
      height: 400px;
    }

}
